@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
}

input,
label,
button {
  display: block;
  font: inherit;
  width: 100%;
}

:root {
  --primary-clr-: #19273f;
  --white-clr-: #fff;
  --gray-clr-: rgb(134, 133, 133);
  --green-dark-clr: #fefefe;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background: linear-gradient(45deg, #141e30, #243b55);
  font-family: 'Inter', sans-serif;
  margin: auto 20px;
}

.login-container {
  background-color: rgba(26, 25, 27, 0.7);
  max-width: 60rem;
  min-width: 25rem;
  padding: 30px;
  margin: 250px auto; /* Center horizontally and vertically */
  color: rgb(13, 212, 212);
}

.login-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
}

.login-container label {
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.login-container input,
.login-container button {
  padding: 1rem 1.5rem;
  font-size: 2.4rem;
}

.login-container input::placeholder {
  font-size: 1.9rem;
}

.login-container input:focus {
  outline: none;
}

.login-container button {
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #ffffffd1;
}

.login-container button:active {
  transform: scale(0.97);
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.todo-app {
  display: grid;
  align-items: center;
  max-width: 70rem;
  color: var(--green-dark-clr);
  margin: 100px auto;
}

.todo-app h1 {
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.logo-img {
  width: 6rem;
  background-color: transparent;
}

.todo-app input {
  padding: 2rem 1.5rem;
  background-color: var(--green-dark-clr);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8rem;
}

.todo-app input::placeholder {
  color: #20304c;
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
}

.todo-app input:focus {
  outline: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(26, 25, 27, 0.7);
  padding: 2rem 5rem;
  border-radius: 0;
}

.todos-section {
  overflow: hidden;
}

.item button {
  width: 3rem;
  background-color: transparent;
  cursor: pointer;
}

.item > p {
  font-size: 2.2rem;
}

input[type='checkbox'] {
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 3rem;
}

/**************************/

@media (max-width: 520px) {
  body {
    margin: 0 5vw; /* Keep margin on the sides */
  }

  /* Adjustments for .login-container */
  .login-container {
    gap: 3rem;
    padding: 20px;
    margin: 50px auto; /* Adjust margin if necessary */
  }

  .login-container h1 {
    font-size: 2.4rem;
  }

  .login-container p {
    font-size: 1.3rem;
  }

  .login-container input,
  .login-container button {
    padding: 0.7rem 1rem;
    font-size: 1.8rem;
  }

  .login-container button {
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }

  /* Adjustments for .todo-app */
  .todo-app {
    gap: 3rem;
    padding: 20px;
    margin: 50px auto; /* Adjust margin if necessary */
  }

  .todo-app h1 {
    font-size: 3rem;
  }

  .todo-app input {
    font-size: 2rem;
  }

  .todo-app input::placeholder {
    font-size: 2rem;
  }

  .todo-app input[type='checkbox'] {
    margin-bottom: 0;
    height: 2rem;
    width: 2rem;
  }

  /* Adjustments for .item */
  .item button {
    width: 2rem;
  }

  .item > p {
    font-size: 1.7rem;
  }
}

@media (max-width: 410px) {
  .item {
    flex-direction: column;
    gap: 20px;
  }

  .todo-app input::placeholder {
    font-size: 1.6rem;
  }
}
